.index__page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.index__page .container {
  width: 1140px;
  margin: 0 auto;
}
.index__page .nav {
  background-color: white;
  position: fixed;
  z-index: 9990;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.index__page .nav .container {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index__page .nav__list {
  gap: 30px;
  display: flex;
}
.index__page .nav__link {
  font-family: Barlow;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  color: #83888F;
}
.index__page .nav__link:hover {
  color: #0E8784;
}

.adobe__page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.adobe__page .container {
  width: 1140px;
  margin: 0 auto;
}
.adobe__page .nav {
  background-color: white;
  position: fixed;
  z-index: 9990;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.adobe__page .nav .container {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adobe__page .nav__list {
  gap: 30px;
  display: flex;
}
.adobe__page .nav__link {
  font-family: Barlow;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  color: #83888F;
}
.adobe__page .nav__link:hover {
  color: #0E8784;
}

.completed__page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.completed__page .container {
  width: 1140px;
  margin: 0 auto;
}
.completed__page .nav {
  background-color: white;
  position: fixed;
  z-index: 9990;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.completed__page .nav .container {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.completed__page .nav__list {
  gap: 30px;
  display: flex;
}
.completed__page .nav__link {
  font-family: Barlow;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  color: #83888F;
}
.completed__page .nav__link:hover {
  color: #0E8784;
}

.index__page .wrap .container {
  padding: 115px 0px 160px 0px;
  border-radius: 6px;
}
.index__page .wrap__element {
  padding: 120px 80px 150px;
  border-radius: 6px;
  background-image: url("../image/cofe.png");
}
.index__page .wrap__blok {
  width: 490px;
  height: 285px;
}
.index__page .wrap__title {
  font-family: Fraunces;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0px;
  color: #FEFCF7;
}
.index__page .wrap__text {
  padding: 20px 0px 50px 0px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #FEFCF7;
  opacity: 80%;
}
.index__page .wrap__link {
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #0E8784;
  color: #FEFCF7;
  padding: 15px 25px;
  border-radius: 6px;
  border: 4px solid #0E8784;
}
.index__page .wrap__link:hover {
  color: #0E8784;
  background-color: #fff;
  border: 4px solid #0E8784;
}

.adobe__page .wrap .container {
  padding: 115px 0px 60px 0px;
  border-radius: 6px;
}
.adobe__page .wrap__element {
  padding: 120px 80px 50px;
  border-radius: 6px;
  background-image: url("../image/qahva.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.adobe__page .wrap__blok {
  width: 490px;
  height: 285px;
}
.adobe__page .wrap__title {
  font-family: Fraunces;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #FEFCF7;
}
.adobe__page .wrap__text {
  padding-top: 10px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #FEFCF7;
}

.completed__page .wrap .container {
  padding: 115px 0px 60px 0px;
  border-radius: 6px;
}
.completed__page .wrap__element {
  padding: 120px 80px 50px;
  border-radius: 6px;
  background-image: url("../image/expresso.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.completed__page .wrap__blok {
  width: 480px;
  height: 285px;
}
.completed__page .wrap__title {
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0px;
  color: #FEFCF7;
}
.completed__page .wrap__text {
  padding-top: 10px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #FEFCF7;
}

.index__page .page .container {
  padding: 70px 0px 120px 0px;
  background-image: url("../image/background.svg");
  background-repeat: no-repeat;
}
.index__page .page__list {
  padding: 80px 0px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.index__page .page__item {
  width: 245px;
}
.index__page .page__pic {
  width: 110px;
  height: 193px;
}
.index__page .page__title {
  font-family: Fraunces;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  padding: 80px 0px 20px 0px;
}
.index__page .page__text {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #333D4B;
}

.adobe__page .page .container {
  padding-bottom: 180px;
  display: flex;
  justify-content: space-evenly;
}
.adobe__page .page__image {
  width: 405px;
  height: 500px;
}
.adobe__page .page__right {
  width: 540px;
  height: 340px;
}
.adobe__page .page__title {
  padding: 40px 0px 20px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #333D4B;
}
.adobe__page .page__text {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #333D4B;
}

.index__page .aside .container {
  height: 530px;
  position: relative;
  border-radius: 6px;
  background-color: rgb(35, 32, 46);
  padding: 30px 0px;
}
.index__page .aside__title {
  padding: 60px 0px 40px 0px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #FEFCF7;
  text-align: center;
}
.index__page .aside__text {
  padding: 5px 310px 20px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #FEFCF7;
  opacity: 80%;
}
.index__page .aside__blok {
  position: absolute;
  top: 325px;
  left: 65px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 25px;
}
.index__page .aside__list {
  padding: 60px 20px 20px 20px;
  border-radius: 8px;
  width: 320px;
  background-color: #0E8784;
}
.index__page .aside__subtitle {
  padding: 40px 0px 15px 0px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #FEFCF7;
}
.index__page .aside__subtext {
  padding-bottom: 20px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #FEFCF7;
}
.index__page .aside__list:nth-child(3) .aside__subtitle {
  padding: 60px 0px 15px;
}
.index__page .aside__list:nth-child(3) .aside__pic {
  padding: 15px 0px 0px;
}

.index__page .wrapper .container {
  position: relative;
  padding: 280px 0px 150px 70px;
}
.index__page .wrapper__title {
  padding: 20px 0px 70px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #83888F;
}
.index__page .wrapper__pic:nth-child(1) {
  z-index: 1;
  position: absolute;
  left: 5px;
}
.index__page .wrapper__pic:nth-child(2) {
  z-index: 1;
  left: 440px;
  position: absolute;
}
.index__page .wrapper__pic:nth-child(3) {
  z-index: 1;
  left: 835px;
  position: absolute;
}
.index__page .wrapper__img {
  top: 417px;
  left: 100px;
  position: absolute;
}
.index__page .wrapper__blok {
  display: flex;
  gap: 95px;
  padding: 50px 0px;
}
.index__page .wrapper__list {
  width: 285px;
}
.index__page .wrapper__subtitle {
  font-family: Fraunces;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0px;
  color: #FDD6BA;
}
.index__page .wrapper__title-name {
  padding: 20px 70px 40px 0px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0px;
  color: #333D4B;
}
.index__page .wrapper__text {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #333D4B;
}
.index__page .wrapper__link {
  padding: 13px 30px;
  border-radius: 5px;
  background-color: #0E8784;
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  border: 4px solid #0E8784;
  color: #FEFCF7;
}
.index__page .wrapper__link:hover {
  color: #0E8784;
  background-color: #fff;
  border: 4px solid #0E8784;
}

.adobe__page .wrapper .container {
  border-radius: 10px;
  padding: 60px 60px 90px;
  position: relative;
  background-color: #2C343E;
  display: flex;
}
.adobe__page .wrapper__left {
  width: 540px;
  height: 210px;
}
.adobe__page .wrapper__title {
  padding-bottom: 20px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #FEFCF7;
}
.adobe__page .wrapper__text {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #FEFCF7;
}
.adobe__page .wrapper__image {
  width: 340px;
  height: 380px;
  border-radius: 8px;
}
.adobe__page .wrapper__right {
  position: absolute;
  left: 720px;
  bottom: 50px;
}

.completed__page .wrapper .container {
  border-radius: 10px;
  background-color: #2C343E;
  position: relative;
  padding: 150px 0px 40px 70px;
}
.completed__page .wrapper__title {
  padding: 20px 0px 70px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #FEFCF7;
}
.completed__page .wrapper__pic:nth-child(1) {
  z-index: 1;
  position: absolute;
  left: 70px;
  top: 100px;
}
.completed__page .wrapper__pic:nth-child(2) {
  z-index: 1;
  top: 100px;
  left: 440px;
  position: absolute;
}
.completed__page .wrapper__pic:nth-child(3) {
  z-index: 1;
  top: 100px;
  left: 835px;
  position: absolute;
}
.completed__page .wrapper__img {
  top: 115px;
  left: 100px;
  position: absolute;
}
.completed__page .wrapper__blok {
  display: flex;
  gap: 95px;
  padding: 50px 0px;
}
.completed__page .wrapper__list {
  width: 285px;
}
.completed__page .wrapper__subtitle {
  font-family: Fraunces;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0px;
  color: #FDD6BA;
}
.completed__page .wrapper__title-name {
  padding: 20px 70px 40px 0px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0px;
  color: #FEFCF7;
}
.completed__page .wrapper__text {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #FEFCF7;
}

.index__page .footer .container {
  padding: 30px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C343E;
}
.index__page .footer__list {
  gap: 100px;
  display: flex;
  align-items: center;
}
.index__page .footer__items {
  gap: 25px;
  display: flex;
  align-items: center;
}
.index__page .footer__list .footer__link {
  color: #83888F;
  font-family: Barlow;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  padding: 10px 10px 0px;
}
.index__page .footer__list .footer__link:hover {
  color: #0E8784;
}

.adobe__page .footer .container {
  padding: 30px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C343E;
}
.adobe__page .footer__list {
  gap: 100px;
  display: flex;
  align-items: center;
}
.adobe__page .footer__items {
  gap: 25px;
  display: flex;
  align-items: center;
}
.adobe__page .footer__list .footer__link {
  color: #83888F;
  font-family: Barlow;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  padding: 10px 10px 0px;
}
.adobe__page .footer__list .footer__link:hover {
  color: #0E8784;
}

.completed__page .footer .container {
  padding: 30px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C343E;
}
.completed__page .footer__list {
  gap: 100px;
  display: flex;
  align-items: center;
}
.completed__page .footer__items {
  gap: 25px;
  display: flex;
  align-items: center;
}
.completed__page .footer__list .footer__link {
  color: #83888F;
  font-family: Barlow;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  padding: 10px 10px 0px;
}
.completed__page .footer__list .footer__link:hover {
  color: #0E8784;
}

.adobe__page .inner .container {
  padding: 80px 60px;
}
.adobe__page .inner__blok {
  display: flex;
  align-items: center;
  gap: 150px;
}
.adobe__page .inner__title {
  padding-bottom: 50px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #83888F;
}
.adobe__page .inner__subtitle {
  padding: 20px 0px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0px;
  color: #333D4B;
}
.adobe__page .inner__link {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #333D4B;
}
.adobe__page .inner__link:hover {
  color: #0E8784;
}

.completed__page .inner .container {
  padding: 50px 70px 40px;
  display: flex;
  justify-content: space-between;
}
.completed__page .inner__left {
  width: 30%;
}
.completed__page .inner__right {
  width: 70%;
}
.completed__page .inner__items .inner__item {
  display: flex;
}
.completed__page .inner__box {
  display: flex;
  justify-content: space-between;
}
.completed__page .inner__list {
  padding: 30px 30px 70px;
  background-color: #F4F1EB;
  width: 220px;
}
.completed__page .inner__list:hover {
  border-radius: 8px;
  background-color: #0E8784;
}
.completed__page .inner__subtitle-name {
  padding: 5px 0px 15px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #83888F;
}
.completed__page .inner__subtitle {
  padding-bottom: 15px;
}
.completed__page .inner__title-name {
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #333D4B;
  padding-bottom: 15px;
}
.completed__page .inner__text {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #333D4B;
}/*# sourceMappingURL=style.css.map */