.adobe__page{
    .inner .container{
        padding: 80px 60px;
    }
    .inner__blok{
        display: flex;
        align-items: center;
        gap: 150px;
    }
    .inner__title{
        padding-bottom: 50px;
        font-family: Fraunces;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #83888F;
    }
    .inner__subtitle{
        padding: 20px 0px;
        font-family: Fraunces;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0px;
        color: #333D4B;
    }
    .inner__link{
        font-family: Barlow;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        color: #333D4B;
    }
    .inner__link:hover{
        color: #0E8784;
    }
}
.completed__page{
    .inner .container{
        padding: 50px 70px 200px;
        display: flex;
        justify-content: space-between;
    }
    .inner__blok{
        padding: 20px 0px;
    }
    .inner__left{
        width:30%;
    }
    .inner__right{
        position: relative;
        width: 70%;
    }
    .inner__blok:nth-child(5){
        padding-bottom: 100px;
    }
    .inner__items{

        padding: 20px 40px 0px;
        .inner__item{
            display: flex;
        }
    }
    .inner__box{
        display: flex;
        justify-content: space-between;
    }
    .inner__list{
        border-radius: 8px;
        padding: 30px 30px 70px;
        background-color: #F4F1EB;
        width: 220px;
    }
    .inner__list:hover{
        color: #FEFCF7;
        border-radius: 8px;
        background-color: #0E8784;
    }
    .inner__subtitle-name{
        padding: 5px 0px 15px;
        font-family: Fraunces;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0px;
        color: #83888F;
    }
    .inner__list:hover .inner__title-name,.inner__list:hover .inner__text{
        color:#FFFFFF;
    }
    .inner__subtitle{
        padding-bottom: 15px;
    }
    .inner__title-name{
        font-family: Fraunces 9pt;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #333D4B;
        padding-bottom: 15px;
    }
     .inner__title-name:hover{
        color: #fff;
    }
    .inner__text{
        font-family: Barlow;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        color: #333D4B;
    }
    .inner__title{
        padding: 15px 10px;
        font-family: Fraunces;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #333D4B;
        opacity: 0.6;
    }
    .inner__title:hover{
        color: #0E8784;
        opacity: 0.7;
    }
    .inner__subtitle{
        padding: 15px 10px;
        font-family: Fraunces;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #333D4B;
        opacity: 0.6;
    }
    .inner__subtitle:hover{
        color:#333D4B;
        opacity: 1;
    }
    .inner__items .inner__item:nth-child(1){
        border-bottom: 1px solid #dcddde;
    }
    .inner__items .inner__item:nth-child(2){
        border-bottom: 1px solid #dcddde;
    }
    .inner__items .inner__item:nth-child(3){
        border-bottom: 1px solid #dcddde;
    }
    .inner__items .inner__item:nth-child(4){
        border-bottom: 1px solid #dcddde;
    }
    .inner__element{
        padding: 50px;
        background-color: #2C343E;
    }
    .inner__subtext{
        color: #FFFFFF;
        font-family: Barlow;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
    }
    .inner__span{
        color: #0E8784;
    }
    .name-inner__title{
        font-family: Fraunces;
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 0px;
        color: #FFFFFF;
    }
    .inner__link{
        position: absolute; 
        right: 0px;
        margin-top: 40px;
        padding: 15px 35px;
        border-radius: 6px;
        color: #fff;
        background-color: #0E8784;
        font-family: Fraunces;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: center;
        border: 2px solid #0E8784;
    }
    .inner__link:hover{
        background-color: #fff;
        color: #0E8784;
        border: 2px solid #0E8784;
    }
}