.index__page{
    .wrapper .container{
        position: relative;
        padding: 280px 0px 150px 70px;
    }
    .wrapper__title{
        padding: 20px 0px 70px;
        font-family: Fraunces;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #83888F;
    
    }
    .wrapper__pic:nth-child(1){
        z-index: 1;
        position: absolute;
        left:5px;
    }
    .wrapper__pic:nth-child(2){
        z-index: 1;
        left: 440px;
        position: absolute;
    }
    .wrapper__pic:nth-child(3){
        z-index: 1;
        left: 835px;
        position: absolute;
    }
    .wrapper__img{
        top: 417px;
        left: 100px;
        position: absolute;
    }
    .wrapper__blok{
        display: flex;
        gap: 95px;
        padding: 50px 0px;
    }
    .wrapper__list{
        width: 285px;
    }
    .wrapper__subtitle{
        font-family: Fraunces;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        letter-spacing: 0px;
        color: #FDD6BA;
    }
    .wrapper__title-name{
        padding: 20px 70px 40px 0px;
        font-family: Fraunces ;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0px;
        color: #333D4B;
    }
    .wrapper__text{
        font-family: Barlow;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        color: #333D4B;
    }
    .wrapper__link{
        padding: 13px 30px;
        border-radius: 5px;
        background-color: #0E8784;
        font-family: Fraunces 9pt;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: center;
        border: 4px solid #0E8784;
        color: #FEFCF7;
    }
    .wrapper__link:hover{
        color: #0E8784;
        background-color: #fff;
        border: 4px solid #0E8784;
    }
}
.adobe__page{
    .wrapper .container{
        border-radius: 10px;
        padding: 60px 60px 90px;
        position: relative;
        background-color: #2C343E;
        display: flex;
    }
    .wrapper__left{
        width: 540px;
        height:210px;
    }
    .wrapper__title{
        padding-bottom:20px;
        font-family: Fraunces;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0px;
        color: #FEFCF7;
    }
    .wrapper__text{
        font-family: Barlow;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        color: #FEFCF7;
    }
    .wrapper__image{
        width: 340px;
        height: 380px;
        border-radius: 8px;
    }
    .wrapper__right{
        position: absolute;
        left: 720px;
        bottom: 50px;
    }
}
.completed__page{
    .wrapper .container{
        border-radius: 10px;
        background-color: #2C343E;
        position: relative;
        padding: 150px 0px 40px 70px;
    }
    .wrapper__title{
        padding: 20px 0px 70px;
        font-family: Fraunces;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        color:#FEFCF7;
    
    }
    .wrapper__pic:nth-child(1){
        z-index: 1;
        position: absolute;
        left:70px;
        top: 100px;
    }
    .wrapper__pic:nth-child(2){
        z-index: 1;
        top: 100px;
        left: 440px;
        position: absolute;
    }
    .wrapper__pic:nth-child(3){
        z-index: 1;
        top: 100px;
        left: 835px;
        position: absolute;
    }
    .wrapper__img{
        top: 115px;
        left: 100px;
        position: absolute;
    }
    .wrapper__blok{
        display: flex;
        gap: 95px;
        padding: 50px 0px;
    }
    .wrapper__list{
        width: 285px;
    }
    .wrapper__subtitle{
        font-family: Fraunces;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        letter-spacing: 0px;
        color: #FDD6BA;
    }
    .wrapper__title-name{
        padding: 20px 70px 40px 0px;
        font-family: Fraunces ;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0px;
        color: #FEFCF7;
    }
    .wrapper__text{
        font-family: Barlow;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        color: #FEFCF7;
    }
}